*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    border: 0;
    box-sizing: border-box; /* ??? Check this >>> */
    outline: 0; /* ??? Check this >>> */
    /*font-size: 0; /* ??? Check this >>> */
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  background-color: blue;
}

#menubtn {
  width: 70px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

#btn {
  padding: 10px;
}

#btn a {
   /*font-size: 100%;*/
}

#content {
  background-color: rgb(255, 255, 255);
}

#board {
  background-color: red;
  margin: 0;
  padding: 0;
  border: 0;
}

.rows {
  display: block;
}

.tile {
  display: inline-block;
}

table {
      border-collapse: collapse;
      border-spacing: 0;
}

td, th {
      padding: 0;
      background-color: transparent;
}

tbody, tr {
      background-color: transparent;
}

