*,
*::before,
*::after { 
  margin: 0; 
  padding: 0; 
  border: 0;
  box-sizing: border-box; /* ??? Check this >>> */
  outline: 0; /* ??? Check this >>> */
  font-size: 0; /* ??? Check this >>> */
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;

  /**/
  justify-content: center;
  align-items: center;

  /**/

  background-color: rgb(139, 197, 30);
}

#menubtn {
  width: 70px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

#btn {
  padding: 10px;
}

#btn a {
   font-size: 14px;
}

#content {
  /*background-color: rgb(255, 255, 255);*/

  /**/
  display: flex;
  justify-content: center;
  align-items: center;
  /*box-sizing: border-box;*/
  text-align: center;
  /**/
}

#board {
  background-color: rgb(255, 224, 45);
  margin: 0;
  padding: 0;
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td/*, th*/ {
  padding: 0;
  background-color: transparent;
  
}

tbody, tr {
  background-color: transparent;
}

/*
#c11, #c12, #c13, #c14, #c21, #c22, #c23, #c24, #c31, #c32, #c33, #c34, #c41, #c42, #c43, #c44 {
  transition: width 1.0s ease-in-out, height 1.0s ease-in-out;
} */

#d11, #d12, #d13, #d14, #d21, #d22, #d23, #d24, #d31, #d32, #d33, #d34, #d41, #d42, #d43, #d44 {
  text-align: right;
  vertical-align: top;
}

